# National Health and Nutrition Examination Survey
2005 until March 2020 | Demographic Variables + Dietary Variables

In [1]:
# Libaries
import pandas as pd
import numpy as np
import xport
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import pymysql
from sqlalchemy import create_engine

import warnings
warnings.filterwarnings('ignore')

In [2]:
import getpass
password = getpass.getpass()

········

In [3]:
pd.set_option('display.max_columns', None)

# Demo data

In [5]:
df_demo = pd.read_csv(r"C:\Users\ljant\Desktop\Ironhack\Projects\Project_2\demo_python.csv")
df_demo
# 107.848 x 4

        patient_id  year  gender   age
0              1.0  2002     2.0   2.0
1              2.0  2002     1.0  77.0
2              3.0  2002     2.0  10.0
3              4.0  2002     1.0   1.0
4              5.0  2002     1.0  49.0
...            ...   ...     ...   ...
107843    124818.0  2020     1.0  40.0
107844    124819.0  2020     1.0   2.0
107845    124820.0  2020     2.0   7.0
107846    124821.0  2020     1.0  63.0
107847    124822.0  2020     1.0  74.0

[107848 rows x 4 columns]

In [6]:
# Assessing NaNs
sum_na = df_demo.isna().sum()
print (sum_na)

patient_id    0
year          0
gender        0
age           0
dtype: int64

In [7]:
# Dropping duplicates if present
df_demo.drop_duplicates()

        patient_id  year  gender   age
0              1.0  2002     2.0   2.0
1              2.0  2002     1.0  77.0
2              3.0  2002     2.0  10.0
3              4.0  2002     1.0   1.0
4              5.0  2002     1.0  49.0
...            ...   ...     ...   ...
107843    124818.0  2020     1.0  40.0
107844    124819.0  2020     1.0   2.0
107845    124820.0  2020     2.0   7.0
107846    124821.0  2020     1.0  63.0
107847    124822.0  2020     1.0  74.0

[107848 rows x 4 columns]

In [8]:
# Cleaning the values
df_demo['gender'] = df_demo['gender'].replace({1.0: 0, 2.0: 1})

In [9]:
# Combinations of 7s and 9s are used when data is not applicable or when the patient refused to answer
df_demo.replace({7: 0, 77: 0, 9: 0, 99: 0}, inplace=True)

In [53]:
df_demo = df_demo[df_demo['year'] >= 2006]
df_demo
# 76.496 x 4

        patient_id  year  gender   age
31352      31127.0  2006     0.0   0.0
31353      31128.0  2006     1.0  11.0
31354      31129.0  2006     0.0  15.0
31355      31130.0  2006     1.0  85.0
31356      31131.0  2006     1.0  44.0
...            ...   ...     ...   ...
107843    124818.0  2020     0.0  40.0
107844    124819.0  2020     0.0   2.0
107845    124820.0  2020     1.0   0.0
107846    124821.0  2020     0.0  63.0
107847    124822.0  2020     0.0  74.0

[76496 rows x 4 columns]

# Diet Data

In [26]:
df_diet = pd.read_csv(r"C:\Users\ljant\Desktop\Ironhack\Projects\Project_2\diet_python.csv")
df_diet
# 102.362 x 36

,patient_id,year,protein,fiber,sattuarated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,cholesterol,carotene,vitamin_a,vitamin_b1,vitamin_b2,vitamin_b6,vitamin_b12,vitamin_c,vitamin_e,folate,calcium,phosporus,magnesium,iron,zinc,copper,sodium,potassium,selenium,caffeine,alcohol,water,a_carotene,b_carotene,special_diet,total_sugars,vitamin_d,vitamin_k,choline
0,1.0,2002,31.96,7.41,9.400,9.000,6.400,46.55,119.41,2797.65,1.500,1.550,1.430,2.42,220.64,3.68,297.85,541.30,503.75,126.80,12.18,4.69,0.410,1621.35,1387.70,48.22,0.00,0.00,243.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,2002,123.16,36.99,24.340,26.480,11.940,313.95,182.07,4323.62,2.110,3.250,2.900,8.68,119.12,7.06,528.29,925.37,1974.57,502.25,37.29,41.61,2.080,5710.03,4672.48,123.20,530.45,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,2002,40.19,11.16,15.610,19.570,11.840,86.22,418.58,5754.31,1.210,1.430,1.370,1.59,57.95,6.53,270.32,415.27,674.82,172.58,9.78,5.65,0.850,1676.51,1487.16,38.97,35.40,0.00,531.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,2002,56.16,5.45,27.540,20.130,4.670,194.78,42.08,1426.17,0.960,2.230,0.950,4.25,65.85,3.47,137.58,1315.39,1266.80,204.10,5.79,6.72,0.520,1277.31,2245.42,46.72,0.00,0.00,1652.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,2002,97.13,17.28,36.000,60.550,11.350,180.57,901.71,10292.63,2.620,3.050,2.920,6.66,112.19,13.53,749.83,1626.38,1811.55,367.72,27.22,10.17,1.950,3756.36,3743.15,104.65,0.00,34.56,1298.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102357,124818.0,2020,58.05,15.00,62.115,61.034,45.841,220.00,NaN,743.00,1.875,1.779,0.647,1.17,89.30,14.70,531.00,480.00,883.00,186.00,15.08,6.50,0.941,7742.00,1206.00,163.90,242.00,0.00,0.00,9.0,516.0,2.0,278.84,2.3,103.5,144.8
102358,124819.0,2020,67.43,8.30,32.515,24.228,10.880,175.00,NaN,660.00,1.416,1.921,1.421,5.20,93.40,3.52,233.00,1584.00,1545.00,201.00,8.32,8.00,0.534,2870.00,2356.00,78.90,24.00,0.00,225.00,35.0,224.0,2.0,108.36,13.0,17.4,236.8
102359,124820.0,2020,39.32,12.30,15.558,13.070,14.765,84.00,NaN,698.00,1.563,1.761,2.002,6.00,28.20,4.40,486.00,1384.00,1034.00,161.00,16.36,14.09,0.417,2344.00,1212.00,53.50,13.00,0.00,0.00,14.0,395.0,2.0,65.77,7.0,41.4,115.0
102360,124821.0,2020,138.10,6.70,15.733,30.469,20.797,484.00,NaN,165.00,1.270,1.127,1.688,15.67,32.60,9.83,195.00,368.00,1691.00,236.00,8.03,9.97,0.800,4718.00,2898.00,112.50,0.00,0.00,1267.50,345.0,1425.0,2.0,50.57,1.4,105.5,528.7
102361,124822.0,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN

In [27]:
# Assessing NaNs
sum_na = df_diet.isna().sum()
print (sum_na)

patient_id                         0
year                               0
protein                         9493
fiber                           9493
sattuarated_fatty_acids         9493
monounsaturated_fatty_acids     9493
polyunsaturated_fatty_acids     9493
cholesterol                     9493
carotene                       93637
vitamin_a                       9493
vitamin_b1                      9493
vitamin_b2                      9493
vitamin_b6                      9493
vitamin_b12                     9493
vitamin_c                       9493
vitamin_e                       9493
folate                          9493
calcium                         9493
phosporus                       9493
magnesium                       9493
iron                            9493
zinc                            9493
copper                          9493
sodium                          9493
potassium                       9493
selenium                        9493
caffeine                        9493
alcohol                         9493
water                           7862
a_carotene                     18218
b_carotene                     18218
special_diet                   44356
total_sugars                   45982
vitamin_d                      45982
vitamin_k                      45982
choline                        45982
dtype: int64

In [28]:
# Dropping duplicates if present
df_diet.drop_duplicates()

,patient_id,year,protein,fiber,sattuarated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,cholesterol,carotene,vitamin_a,vitamin_b1,vitamin_b2,vitamin_b6,vitamin_b12,vitamin_c,vitamin_e,folate,calcium,phosporus,magnesium,iron,zinc,copper,sodium,potassium,selenium,caffeine,alcohol,water,a_carotene,b_carotene,special_diet,total_sugars,vitamin_d,vitamin_k,choline
0,1.0,2002,31.96,7.41,9.400,9.000,6.400,46.55,119.41,2797.65,1.500,1.550,1.430,2.42,220.64,3.68,297.85,541.30,503.75,126.80,12.18,4.69,0.410,1621.35,1387.70,48.22,0.00,0.00,243.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,2002,123.16,36.99,24.340,26.480,11.940,313.95,182.07,4323.62,2.110,3.250,2.900,8.68,119.12,7.06,528.29,925.37,1974.57,502.25,37.29,41.61,2.080,5710.03,4672.48,123.20,530.45,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,2002,40.19,11.16,15.610,19.570,11.840,86.22,418.58,5754.31,1.210,1.430,1.370,1.59,57.95,6.53,270.32,415.27,674.82,172.58,9.78,5.65,0.850,1676.51,1487.16,38.97,35.40,0.00,531.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,2002,56.16,5.45,27.540,20.130,4.670,194.78,42.08,1426.17,0.960,2.230,0.950,4.25,65.85,3.47,137.58,1315.39,1266.80,204.10,5.79,6.72,0.520,1277.31,2245.42,46.72,0.00,0.00,1652.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,2002,97.13,17.28,36.000,60.550,11.350,180.57,901.71,10292.63,2.620,3.050,2.920,6.66,112.19,13.53,749.83,1626.38,1811.55,367.72,27.22,10.17,1.950,3756.36,3743.15,104.65,0.00,34.56,1298.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102357,124818.0,2020,58.05,15.00,62.115,61.034,45.841,220.00,NaN,743.00,1.875,1.779,0.647,1.17,89.30,14.70,531.00,480.00,883.00,186.00,15.08,6.50,0.941,7742.00,1206.00,163.90,242.00,0.00,0.00,9.0,516.0,2.0,278.84,2.3,103.5,144.8
102358,124819.0,2020,67.43,8.30,32.515,24.228,10.880,175.00,NaN,660.00,1.416,1.921,1.421,5.20,93.40,3.52,233.00,1584.00,1545.00,201.00,8.32,8.00,0.534,2870.00,2356.00,78.90,24.00,0.00,225.00,35.0,224.0,2.0,108.36,13.0,17.4,236.8
102359,124820.0,2020,39.32,12.30,15.558,13.070,14.765,84.00,NaN,698.00,1.563,1.761,2.002,6.00,28.20,4.40,486.00,1384.00,1034.00,161.00,16.36,14.09,0.417,2344.00,1212.00,53.50,13.00,0.00,0.00,14.0,395.0,2.0,65.77,7.0,41.4,115.0
102360,124821.0,2020,138.10,6.70,15.733,30.469,20.797,484.00,NaN,165.00,1.270,1.127,1.688,15.67,32.60,9.83,195.00,368.00,1691.00,236.00,8.03,9.97,0.800,4718.00,2898.00,112.50,0.00,0.00,1267.50,345.0,1425.0,2.0,50.57,1.4,105.5,528.7
102361,124822.0,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN

In [51]:
# Cleaning the values
df_diet['special_diet'] = df_diet['special_diet'].replace({1.0: 0, 2.0: 1})
df_diet['carotene'] = df_diet['a_carotene'] + df_diet['b_carotene']

,patient_id,year,protein,fiber,sattuarated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,cholesterol,carotene,vitamin_a,vitamin_b1,vitamin_b2,vitamin_b6,vitamin_b12,vitamin_c,vitamin_e,folate,calcium,phosporus,magnesium,iron,zinc,copper,sodium,potassium,selenium,caffeine,alcohol,water,a_carotene,b_carotene,special_diet,total_sugars,vitamin_d,vitamin_k,choline
0,1.0,2002,31.96,7.41,9.400,9.000,6.400,46.55,NaN,2797.65,1.500,1.550,1.430,2.42,220.64,3.68,297.85,541.30,503.75,126.80,12.18,4.69,0.410,1621.35,1387.70,48.22,0.00,0.00,243.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,2002,123.16,36.99,24.340,26.480,11.940,313.95,NaN,4323.62,2.110,3.250,2.900,8.68,119.12,7.06,528.29,925.37,1974.57,502.25,37.29,41.61,2.080,5710.03,4672.48,123.20,530.45,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,2002,40.19,11.16,15.610,19.570,11.840,86.22,NaN,5754.31,1.210,1.430,1.370,1.59,57.95,6.53,270.32,415.27,674.82,172.58,9.78,5.65,0.850,1676.51,1487.16,38.97,35.40,0.00,531.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,2002,56.16,5.45,27.540,20.130,4.670,194.78,NaN,1426.17,0.960,2.230,0.950,4.25,65.85,3.47,137.58,1315.39,1266.80,204.10,5.79,6.72,0.520,1277.31,2245.42,46.72,0.00,0.00,1652.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,2002,97.13,17.28,36.000,60.550,11.350,180.57,NaN,10292.63,2.620,3.050,2.920,6.66,112.19,13.53,749.83,1626.38,1811.55,367.72,27.22,10.17,1.950,3756.36,3743.15,104.65,0.00,34.56,1298.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102357,124818.0,2020,58.05,15.00,62.115,61.034,45.841,220.00,525.0,743.00,1.875,1.779,0.647,1.17,89.30,14.70,531.00,480.00,883.00,186.00,15.08,6.50,0.941,7742.00,1206.00,163.90,242.00,0.00,0.00,9.0,516.0,0.0,278.84,2.3,103.5,144.8
102358,124819.0,2020,67.43,8.30,32.515,24.228,10.880,175.00,259.0,660.00,1.416,1.921,1.421,5.20,93.40,3.52,233.00,1584.00,1545.00,201.00,8.32,8.00,0.534,2870.00,2356.00,78.90,24.00,0.00,225.00,35.0,224.0,0.0,108.36,13.0,17.4,236.8
102359,124820.0,2020,39.32,12.30,15.558,13.070,14.765,84.00,409.0,698.00,1.563,1.761,2.002,6.00,28.20,4.40,486.00,1384.00,1034.00,161.00,16.36,14.09,0.417,2344.00,1212.00,53.50,13.00,0.00,0.00,14.0,395.0,0.0,65.77,7.0,41.4,115.0
102360,124821.0,2020,138.10,6.70,15.733,30.469,20.797,484.00,1770.0,165.00,1.270,1.127,1.688,15.67,32.60,9.83,195.00,368.00,1691.00,236.00,8.03,9.97,0.800,4718.00,2898.00,112.50,0.00,0.00,1267.50,345.0,1425.0,0.0,50.57,1.4,105.5,528.7
102361,124822.0,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# Combinations of 7s and 9s are used when data is not applicable or when the patient refused to answer
df_diet['special_diet'].replace({7: np.nan, 77: np.nan, 9: np.nan, 99: np.nan}, inplace=True)
df_diet

,patient_id,year,protein,fiber,sattuarated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,cholesterol,carotene,vitamin_a,vitamin_b1,vitamin_b2,vitamin_b6,vitamin_b12,vitamin_c,vitamin_e,folate,calcium,phosporus,magnesium,iron,zinc,copper,sodium,potassium,selenium,caffeine,alcohol,water,a_carotene,b_carotene,special_diet,total_sugars,vitamin_d,vitamin_k,choline
0,1.0,2002,31.96,7.41,9.400,9.000,6.400,46.55,119.41,2797.65,1.500,1.550,1.430,2.42,220.64,3.68,297.85,541.30,503.75,126.80,12.18,4.69,0.410,1621.35,1387.70,48.22,0.00,0.00,243.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,2002,123.16,36.99,24.340,26.480,11.940,313.95,182.07,4323.62,2.110,3.250,2.900,8.68,119.12,7.06,528.29,925.37,1974.57,502.25,37.29,41.61,2.080,5710.03,4672.48,123.20,530.45,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,2002,40.19,11.16,15.610,19.570,11.840,86.22,418.58,5754.31,1.210,1.430,1.370,1.59,57.95,6.53,270.32,415.27,674.82,172.58,9.78,5.65,0.850,1676.51,1487.16,38.97,35.40,0.00,531.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,2002,56.16,5.45,27.540,20.130,4.670,194.78,42.08,1426.17,0.960,2.230,0.950,4.25,65.85,3.47,137.58,1315.39,1266.80,204.10,5.79,6.72,0.520,1277.31,2245.42,46.72,0.00,0.00,1652.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,2002,97.13,17.28,36.000,60.550,11.350,180.57,901.71,10292.63,2.620,3.050,2.920,6.66,112.19,13.53,749.83,1626.38,1811.55,367.72,27.22,10.17,1.950,3756.36,3743.15,104.65,0.00,34.56,1298.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102357,124818.0,2020,58.05,15.00,62.115,61.034,45.841,220.00,NaN,743.00,1.875,1.779,0.647,1.17,89.30,14.70,531.00,480.00,883.00,186.00,15.08,6.50,0.941,7742.00,1206.00,163.90,242.00,0.00,0.00,9.0,516.0,1.0,278.84,2.3,103.5,144.8
102358,124819.0,2020,67.43,8.30,32.515,24.228,10.880,175.00,NaN,660.00,1.416,1.921,1.421,5.20,93.40,3.52,233.00,1584.00,1545.00,201.00,8.32,8.00,0.534,2870.00,2356.00,78.90,24.00,0.00,225.00,35.0,224.0,1.0,108.36,13.0,17.4,236.8
102359,124820.0,2020,39.32,12.30,15.558,13.070,14.765,84.00,NaN,698.00,1.563,1.761,2.002,6.00,28.20,4.40,486.00,1384.00,1034.00,161.00,16.36,14.09,0.417,2344.00,1212.00,53.50,13.00,0.00,0.00,14.0,395.0,1.0,65.77,7.0,41.4,115.0
102360,124821.0,2020,138.10,6.70,15.733,30.469,20.797,484.00,NaN,165.00,1.270,1.127,1.688,15.67,32.60,9.83,195.00,368.00,1691.00,236.00,8.03,9.97,0.800,4718.00,2898.00,112.50,0.00,0.00,1267.50,345.0,1425.0,1.0,50.57,1.4,105.5,528.7
102361,124822.0,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Mental Data

In [33]:
df_mental = pd.read_csv(r"C:\Users\ljant\Desktop\Ironhack\Projects\Project_2\mental_python.csv")
df_mental
# 43.928 x 11

       patient_id  year   q1   q2   q3   q4   q5   q6   q7   q8   q9
0         31130.0  2006  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1         31131.0  2006  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2         31132.0  2006  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3         31134.0  2006  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4         31139.0  2006  0.0  0.0  0.0  0.0  3.0  1.0  0.0  0.0  0.0
...           ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
43923    124815.0  2020  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
43924    124817.0  2020  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
43925    124818.0  2020  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
43926    124821.0  2020  3.0  0.0  0.0  2.0  0.0  0.0  0.0  0.0  0.0
43927    124822.0  2020  0.0  0.0  0.0  2.0  2.0  0.0  0.0  1.0  0.0

[43928 rows x 11 columns]

In [34]:
# Dropping duplicates if present
df_mental.drop_duplicates()

       patient_id  year   q1   q2   q3   q4   q5   q6   q7   q8   q9
0         31130.0  2006  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1         31131.0  2006  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2         31132.0  2006  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3         31134.0  2006  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4         31139.0  2006  0.0  0.0  0.0  0.0  3.0  1.0  0.0  0.0  0.0
...           ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
43923    124815.0  2020  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
43924    124817.0  2020  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
43925    124818.0  2020  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
43926    124821.0  2020  3.0  0.0  0.0  2.0  0.0  0.0  0.0  0.0  0.0
43927    124822.0  2020  0.0  0.0  0.0  2.0  2.0  0.0  0.0  1.0  0.0

[43928 rows x 11 columns]

In [35]:
# Combinations of 7s and 9s are used when data is not applicable or when the patient refused to answer
df_mental.replace({7: np.nan, 77: np.nan, 9: np.nan, 99: np.nan}, inplace=True)

In [36]:
# Assessing NaNs
sum_na = df_mental.isna().sum()
print (sum_na)

patient_id       0
year             0
q1            4317
q2            4289
q3            4287
q4            4289
q5            4287
q6            4315
q7            4295
q8            4309
q9            4308
dtype: int64

In [37]:
# Adding column with the sum of the PHQ-Score
df_mental['total_score'] = df_mental[['q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9']].apply(sum, axis=1)

In [38]:
bins = [-1, 4, 9, 14, 19, 27]
labels = ['minimal', 'mild', 'moderate', 'moderately_severe', 'severe']
df_mental['depression_level'] = pd.cut(df_mental['total_score'], bins=bins, labels=labels)
df_mental

,patient_id,year,q1,q2,q3,q4,q5,q6,q7,q8,q9,total_score,depression_level
0,31130.0,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31131.0,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,minimal
2,31132.0,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,minimal
3,31134.0,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,minimal
4,31139.0,2006,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,4.0,minimal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43923,124815.0,2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,minimal
43924,124817.0,2020,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,minimal
43925,124818.0,2020,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,minimal
43926,124821.0,2020,3.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,5.0,mild
43927,124822.0,2020,0.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,0.0,5.0,mild

# Joining the tables

In [56]:
df_total = pd.merge(df_mental, df_demo, how = 'left', on = 'patient_id')
df_total = pd.merge(df_total, df_diet, how = 'left', on = 'patient_id')
df_total
# 43.928 x 51

,patient_id,year_x,q1,q2,q3,q4,q5,q6,q7,q8,q9,total_score,depression_level,year_y,gender,age,year,protein,fiber,sattuarated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,cholesterol,carotene,vitamin_a,vitamin_b1,vitamin_b2,vitamin_b6,vitamin_b12,vitamin_c,vitamin_e,folate,calcium,phosporus,magnesium,iron,zinc,copper,sodium,potassium,selenium,caffeine,alcohol,water,a_carotene,b_carotene,special_diet,total_sugars,vitamin_d,vitamin_k,choline
0,31130.0,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006,1.0,85.0,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31131.0,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,minimal,2006,1.0,44.0,2006,27.43,6.4,18.274,20.745,7.641,48.0,76.0,120.0,0.752,0.886,0.385,1.03,47.3,2.34,299.0,401.0,483.0,144.0,7.04,3.43,0.680,1426.0,1565.0,36.0,13.0,0.0,192.56,0.0,76.0,NaN,NaN,NaN,NaN,NaN
2,31132.0,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,minimal,2006,0.0,70.0,2006,75.81,20.3,17.608,17.494,19.114,138.0,5985.0,813.0,3.703,3.849,4.502,8.92,124.8,20.19,801.0,1508.0,1180.0,314.0,30.51,24.80,1.194,3708.0,3757.0,111.7,260.0,40.8,770.25,51.0,5934.0,NaN,NaN,NaN,NaN,NaN
3,31134.0,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,minimal,2006,0.0,73.0,2006,67.11,16.4,23.410,30.854,19.074,480.0,417.0,374.0,1.589,1.925,1.513,3.11,34.9,4.66,284.0,704.0,955.0,210.0,14.47,11.86,1.219,4373.0,2666.0,108.6,142.0,0.0,0.00,0.0,417.0,NaN,NaN,NaN,NaN,NaN
4,31139.0,2006,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,4.0,minimal,2006,1.0,18.0,2006,48.38,12.8,5.355,9.183,10.176,130.0,1534.0,167.0,1.053,0.996,0.908,2.52,81.9,4.59,305.0,416.0,541.0,169.0,10.70,5.83,0.959,2007.0,1134.0,94.7,0.0,0.0,0.00,147.0,1387.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43923,124815.0,2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,minimal,2020,0.0,52.0,2020,78.06,9.6,39.799,36.693,15.790,699.0,343.0,562.0,1.076,2.070,1.179,4.39,20.3,5.60,249.0,1488.0,1527.0,246.0,10.63,10.30,1.097,3415.0,1562.0,114.5,9.0,28.1,2028.00,0.0,343.0,0.0,43.94,6.4,29.1,568.7
43924,124817.0,2020,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,minimal,2020,1.0,67.0,2020,51.33,5.8,25.360,22.624,9.509,813.0,388.0,530.0,0.402,1.164,0.691,3.71,75.5,4.46,183.0,355.0,704.0,142.0,7.86,8.72,0.556,1129.0,930.0,88.1,60.0,0.0,1521.00,3.0,385.0,0.0,51.03,4.2,19.4,563.2
43925,124818.0,2020,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,minimal,2020,0.0,40.0,2020,58.05,15.0,62.115,61.034,45.841,220.0,525.0,743.0,1.875,1.779,0.647,1.17,89.3,14.70,531.0,480.0,883.0,186.0,15.08,6.50,0.941,7742.0,1206.0,163.9,242.0,0.0,0.00,9.0,516.0,0.0,278.84,2.3,103.5,144.8
43926,124821.0,2020,3.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,5.0,mild,2020,0.0,63.0,2020,138.10,6.7,15.733,30.469,20.797,484.0,1770.0,165.0,1.270,1.127,1.688,15.67,32.6,9.83,195.0,368.0,1691.0,236.0,8.03,9.97,0.800,4718.0,2898.0,112.5,0.0,0.0,1267.50,345.0,1425.0,0.0,50.57,1.4,105.5,528.7
43927,124822.0,2020,0.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,0.0,5.0,mild,2020,0.0,74.0,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Final filtering before further analysis

In [58]:
# Age between 18-150 (rule by questionaire)
df_final = df_total[(df_total['age'] >= 18) & (df_total['age'] <= 150)]

# Only using data with complete mental questionaire
df_final = df_total.dropna(subset=['q1','q2','q3','q4','q5','q6','q7','q8','q9'])

df_final
# 39.467 x 51

,patient_id,year_x,q1,q2,q3,q4,q5,q6,q7,q8,q9,total_score,depression_level,year_y,gender,age,year,protein,fiber,sattuarated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,cholesterol,carotene,vitamin_a,vitamin_b1,vitamin_b2,vitamin_b6,vitamin_b12,vitamin_c,vitamin_e,folate,calcium,phosporus,magnesium,iron,zinc,copper,sodium,potassium,selenium,caffeine,alcohol,water,a_carotene,b_carotene,special_diet,total_sugars,vitamin_d,vitamin_k,choline
1,31131.0,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,minimal,2006,1.0,44.0,2006,27.43,6.4,18.274,20.745,7.641,48.0,76.0,120.0,0.752,0.886,0.385,1.03,47.3,2.34,299.0,401.0,483.0,144.0,7.04,3.43,0.680,1426.0,1565.0,36.0,13.0,0.0,192.56,0.0,76.0,NaN,NaN,NaN,NaN,NaN
2,31132.0,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,minimal,2006,0.0,70.0,2006,75.81,20.3,17.608,17.494,19.114,138.0,5985.0,813.0,3.703,3.849,4.502,8.92,124.8,20.19,801.0,1508.0,1180.0,314.0,30.51,24.80,1.194,3708.0,3757.0,111.7,260.0,40.8,770.25,51.0,5934.0,NaN,NaN,NaN,NaN,NaN
3,31134.0,2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,minimal,2006,0.0,73.0,2006,67.11,16.4,23.410,30.854,19.074,480.0,417.0,374.0,1.589,1.925,1.513,3.11,34.9,4.66,284.0,704.0,955.0,210.0,14.47,11.86,1.219,4373.0,2666.0,108.6,142.0,0.0,0.00,0.0,417.0,NaN,NaN,NaN,NaN,NaN
4,31139.0,2006,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,4.0,minimal,2006,1.0,18.0,2006,48.38,12.8,5.355,9.183,10.176,130.0,1534.0,167.0,1.053,0.996,0.908,2.52,81.9,4.59,305.0,416.0,541.0,169.0,10.70,5.83,0.959,2007.0,1134.0,94.7,0.0,0.0,0.00,147.0,1387.0,NaN,NaN,NaN,NaN,NaN
5,31143.0,2006,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,6.0,mild,2006,0.0,19.0,2006,95.17,14.3,47.397,33.380,10.320,359.0,1821.0,1024.0,2.313,3.021,3.021,8.65,240.3,5.58,525.0,2436.0,1850.0,304.0,33.26,14.36,1.194,3289.0,2871.0,85.2,0.0,0.0,1539.20,53.0,1768.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43923,124815.0,2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,minimal,2020,0.0,52.0,2020,78.06,9.6,39.799,36.693,15.790,699.0,343.0,562.0,1.076,2.070,1.179,4.39,20.3,5.60,249.0,1488.0,1527.0,246.0,10.63,10.30,1.097,3415.0,1562.0,114.5,9.0,28.1,2028.00,0.0,343.0,0.0,43.94,6.4,29.1,568.7
43924,124817.0,2020,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,minimal,2020,1.0,67.0,2020,51.33,5.8,25.360,22.624,9.509,813.0,388.0,530.0,0.402,1.164,0.691,3.71,75.5,4.46,183.0,355.0,704.0,142.0,7.86,8.72,0.556,1129.0,930.0,88.1,60.0,0.0,1521.00,3.0,385.0,0.0,51.03,4.2,19.4,563.2
43925,124818.0,2020,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,minimal,2020,0.0,40.0,2020,58.05,15.0,62.115,61.034,45.841,220.0,525.0,743.0,1.875,1.779,0.647,1.17,89.3,14.70,531.0,480.0,883.0,186.0,15.08,6.50,0.941,7742.0,1206.0,163.9,242.0,0.0,0.00,9.0,516.0,0.0,278.84,2.3,103.5,144.8
43926,124821.0,2020,3.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,5.0,mild,2020,0.0,63.0,2020,138.10,6.7,15.733,30.469,20.797,484.0,1770.0,165.0,1.270,1.127,1.688,15.67,32.6,9.83,195.0,368.0,1691.0,236.0,8.03,9.97,0.800,4718.0,2898.0,112.5,0.0,0.0,1267.50,345.0,1425.0,0.0,50.57,1.4,105.5,528.7
43927,124822.0,2020,0.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,0.0,5.0,mild,2020,0.0,74.0,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN